In [1]:
# Import Modules
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote_plus

In [3]:
# SQLAlchemy connectable
# DEFAULT engine = create_engine("postgresql://USERNAME:%s@HOST/mydatabase" % quote_plus("Password"))
engine = create_engine("postgresql://postgres:%s@localhost/Energy_Output_Expenses" % quote_plus("secret"))
engine.connect()

In [4]:
df = pd.read_sql_table('demographics',engine)
df.head()

,doeid,hhsex,hhage,employhh,education,sdescent,householder_race,nhsldmem,numchild,moneypy,totalbtu,totaldol
0,100001,1,65,3,5,0,1,2,0,13,144647.71,2656.89
1,100002,1,79,3,3,0,1,1,0,6,28034.61,975.00
2,100003,2,82,3,4,0,1,1,0,11,30749.71,522.65
3,100004,2,70,3,3,0,1,2,0,10,86765.19,2061.77
4,100005,2,30,1,5,0,1,2,0,16,59126.93,1463.04